---
layout: layouts/docs.njk
title: VLS Documentation
permalink: /docs/
eleventyNavigation:
  key: Documentation
---

{% set docsVersion = page.url | getDocsVersion or currentDocsVersion %}
<p>Welcome to the VLS documentation. VLS improves Lightning node security by protecting keys separately. This documentation will help you understand and implement VLS in your Lightning project.</p>

{% include "partials/version-content.njk" %}
