---
layout: layouts/main.njk
title: Blog
templateClass: tmpl-home
---

<div class="blog-container">
  <div class="container">
    <h1>{{ title }}</h1>

    <ul class="tag-list">
      <li>
        <a href="#" class="tag active" data-tag="all">All</a>
      </li>
      {% for tag in collections.tagList %}
        <li>
          <a href="#" class="tag plausible-event-name=Blog+Tag plausible-event-blogTag={{ tag }}" data-tag="{{ tag }}">
            {{ tag }} <span class="tag-count">({{ collections.postsByTag[tag] }})</span>
          </a>
        </li>
      {% endfor %}
    </ul>

    <ul class="post-list">
      {%- for post in collections.posts | reverse -%}
        <li data-tags="{{ post.data.tags | join(',') }}">
          <article class="post-item">
            <h2>
              <a href="{{ post.data.externalLink or post.url }}" class="post-link">
                {{ post.data.title }}
              </a>
            </h2>
            <p class="post-meta">
              {% if post.data.author %}
                  By {{ post.data.author }} on {{ post.data.page.date | htmlDateString }} •
              {% else %}
                  {{ post.data.page.date | htmlDateString }} •
              {% endif %}
              {% if post.data.tags %}
                Tags: 
                {% for tag in post.data.tags %}
                  {% if tag != "posts" %}
                    <a href="#" class="plausible-event-name=Blog+Tag plausible-event-blogTag={{ tag }}" data-tag="{{ tag }}">{{ tag }}</a>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </p>
          </article>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</div>

<button class="btn btn-primary newsletter-btn plausible-event-name=Newsletter+Form+Toggle" onclick="toggleForm()">
  VLS newsletter
</button>

<div id="newsletterForm" class="newsletter-form plausible-event-name=Newsletter+Form+Click" style="display: none;">
  <iframe src="https://cryptpad.fr/form/#/2/form/view/FG36fScIHzyzNqyBrK87KtTB0Ho3fxedDub+6OgW9ZU/embed/" 
          width="100%" height="686" frameborder="0"  marginheight="0" marginwidth="0"></iframe>
</div>

<script src="/public/scripts/tagFilter.js"></script>
<script>
  function toggleForm() {
    const form = document.getElementById("newsletterForm");
    form.style.display = form.style.display === "none" ? "block" : "none";
  }
</script>
