---
layout: layouts/main.njk
bodyClass: docs-page
headerClass: header-full-width
---

{% set docsVersion = page.url | getDocsVersion or currentDocsVersion %}
<div class="docs-layout">
  <div class="docs-sidebar">
    <!-- Version selector -->
    <div class="version-selector">
      <select class="version-select" id="desktop-version-select">
        {% for version in collections.docsVersions %}
          {% set isCurrent = version == currentDocsVersion %}
          <option value="{{ version }}" {% if version == docsVersion %}selected{% endif %}>
            v{{ version }}{% if isCurrent %} (Current){% endif %}
          </option>
        {% endfor %}
      </select>
    </div>
    <nav class="docs-nav">
      {% if collections.sortedDocs %}
        {% for section in collections.sortedDocs %}
          {# Only show top-level sections for current version #}
          {% if section.data.eleventyNavigation.parent == "v" + docsVersion %}
            {% set hasChildren = false %}
            {% set sectionChildren = [] %}
            
            {# Collect second-level items #}
            {% for child in collections.sortedDocs %}
              {% if child.url.includes("/v" + docsVersion + "/") and 
                    child.data.eleventyNavigation.parent == section.data.eleventyNavigation.key %}
                {% set hasChildren = true %}
                {% set sectionChildren = (sectionChildren.push(child), sectionChildren) %}
              {% endif %}
            {% endfor %}

            <div class="docs-nav-section">
              {% if hasChildren %}
                <button class="docs-nav-heading collapsed plausible-event-name=Desktop+Section+Click plausible-event-sectionInfo={{ section.data.eleventyNavigation.key | replace(" ", "+") }}_v{{ docsVersion }}" 
                        type="button"
                        data-bs-target="#desktop-section-{{ loop.index }}"
                        aria-expanded="false">
                    {{ section.data.eleventyNavigation.key }}
                    <svg class="chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        <polyline points="9 18 15 12 9 6"></polyline>
                    </svg>
                </button>
              {% else %}
                <a href="{{ section.url | versionUrl(docsVersion) }}" 
                  class="docs-nav-heading no-arrow {% if page.url == section.url %}active{% endif %} plausible-event-name=Desktop+Section+Click plausible-event-sectionInfo={{ section.data.eleventyNavigation.key | replace(" ", "+") }}_v{{ docsVersion }}">
                    {{ section.data.eleventyNavigation.key }}
                </a>
              {% endif %}

              {% if hasChildren %}
                <div class="collapse" id="desktop-section-{{ loop.index }}">
                  <div class="docs-nav-items">
                    {% for child in sectionChildren %}
                      {% set hasGrandchildren = false %}
                      {% set grandchildren = [] %}
                      
                      {# Check for third-level items #}
                      {% for grandchild in collections.sortedDocs %}
                        {% if grandchild.url.includes("/v" + docsVersion + "/") and 
                              grandchild.data.eleventyNavigation.parent == child.data.eleventyNavigation.key %}
                          {% set hasGrandchildren = true %}
                          {% set grandchildren = (grandchildren.push(grandchild), grandchildren) %}
                        {% endif %}
                      {% endfor %}

                      {% if hasGrandchildren %}
                        <div class="docs-nav-subgroup">
                          <button class="docs-nav-subheading collapsed plausible-event-name=Desktop+Subsection+Click plausible-event-subsectionInfo={{ child.data.eleventyNavigation.key | replace(" ", "+") }}_v{{ docsVersion }} plausible-event-parentInfo={{ section.data.eleventyNavigation.key }}"
                                  type="button"
                                  data-bs-target="#desktop-subsection-{{ loop.index }}-{{ forloop.index }}"
                                  aria-expanded="false">
                              {{ child.data.eleventyNavigation.key }}
                              <svg class="chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                                  <polyline points="9 18 15 12 9 6"></polyline>
                              </svg>
                          </button>
                          <div class="collapse" id="desktop-subsection-{{ loop.index }}-{{ forloop.index }}">
                            <div class="docs-nav-subitems">
                              {% for grandchild in grandchildren %}
                                <a href="{{ grandchild.url | versionUrl(docsVersion) }}" 
                                  class="docs-nav-sublink {% if page.url == grandchild.url %}active{% endif %} plausible-event-name=Desktop+Grandchild+Click plausible-event-pageInfo={{ grandchild.data.eleventyNavigation.key | replace(" ", "+") }}_v{{ docsVersion }} plausible-event-parentInfo={{ child.data.eleventyNavigation.key }} plausible-event-rootInfo={{ section.data.eleventyNavigation.key }}"
                                  data-version="{{ docsVersion }}">
                                    {{ grandchild.data.eleventyNavigation.key }}
                                </a>
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                      {% else %}
                        <a href="{{ child.url | versionUrl(docsVersion) }}" 
                          class="docs-nav-link {% if page.url == child.url %}active{% endif %} plausible-event-name=Desktop+Section+Click plausible-event-sectionInfo={{ child.data.eleventyNavigation.key | replace(" ", "+") }}_v{{ docsVersion }}">
                            {{ child.data.eleventyNavigation.key }}
                        </a>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </nav>
  </div>

  <!-- Main content -->

  <div class="docs-content">
    <!-- Add mobile TOC header -->
    <div class="mobile-toc-header">
      <div class="mobile-toc-dropdown">
        <button class="mobile-toc-button">
          On this page
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" class="chevron">
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
        </button>
        <div class="mobile-toc-content">
          <ul class="toc-list">
            {%- for heading in content | getHeadings -%}
              <li class="toc-item level-{{ heading.level }}">
                <a href="#{{ heading.id }}" class="toc-link plausible-event-name=Mobile+TOC+Click plausible-event-headingName={{ heading.text }}">{{ heading.text }}</a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      </div>
      <div class="mobile-feedback">
        <p class="feedback-question">Was this page helpful?</p>
        <div class="feedback-buttons">
          <button class="feedback-button plausible-event-name=Mobile+Feedback+Positive plausible-event-pageInfo={{ title | replace(" ", "+") }}_v{{ docsVersion }}" aria-label="Yes, this was helpful">
            <svg width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
              <path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path>
            </svg>
          </button>
          <button class="feedback-button plausible-event-name=Mobile+Feedback+Negative plausible-event-docsPpageInfoage={{ title | replace(" ", "+") }}_v{{ docsVersion }}" aria-label="No, this was not helpful">
            <svg width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
              <path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <h1>{{ title }}</h1>
    {{ content | getModifiedContent | safe }}
  </div>
  <aside class="docs-toc">
      <div class="toc-inner">
        <p class="toc-title">On this page</p>
        <ul class="toc-list">
          {%- for heading in content | getHeadings -%}
            <li class="toc-item level-{{ heading.level }}">
              <a href="#{{ heading.id }}" class="toc-link plausible-event-name=Desktop+TOC+Click plausible-event-headingName={{ heading.text }}">{{ heading.text }}</a>
            </li>
          {%- endfor -%}
        </ul>
      </div>

      <div class="docs-feedback">
        <p class="feedback-question">Was this page helpful?</p>
        <div class="feedback-buttons">
          <button class="feedback-button plausible-event-name=Desktop+Feedback+Positive plausible-event-pageInfo={{ title | replace(" ", "+") }}_v{{ docsVersion }}" aria-label="Yes, this was helpful">
            <svg width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
              <path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path>
            </svg>
          </button>
          <button class="feedback-button plausible-event-name=Desktop+Feedback+Negative plausible-event-pageInfo={{ title | replace(" ", "+") }}_v{{ docsVersion }}" aria-label="No, this was not helpful">
            <svg width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
              <path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path>
            </svg>
          </button>
        </div>
      </div>
    </aside>

    <!-- Docs-specific footer that sits only under docs-content -->
    <div class="footer docs-footer">
      <div class="docs-container">
        <div class="footer-grid">
          <div class="column">
            <h3>Build</h3>
            <ul>
              <li><a href="/docs">Docs</a></li>
              <li><a href="https://gitlab.com/lightning-signer/validating-lightning-signer/-/blob/main/docs/policy-controls.md">Policy Controls</a></li>
              <li><a href="https://gitlab.com/lightning-signer/validating-lightning-signer">GitLab Repo</a></li>
            </ul>
          </div>
          <div class="column">
            <h3>Resources</h3>
            <ul>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/FAQ">FAQ</a></li>
              <li><a href="https://medium.com/@devrandom/securing-lightning-nodes-39410747734b">Securing LN Nodes</a></li>
              <li><a href="https://gitlab.com/lightning-signer/validating-lightning-signer/-/blob/main/SECURITY.md">Report Vulnerability</a></li>
            </ul>
          </div>
          <div class="column">
            <h3>Community</h3>
            <ul>
              <li><a href="https://X.com/VLSProject">Twitter/X</a></li>
              <li><a href="https://matrix.to/#/#vls:matrix.org">Matrix</a></li>
              <li><a href="/team">Team</a></li>
              <li><a href="/support">Support VLS</a></li>
            </ul>
          </div>
        </div>
        <p class="copyright">&copy; 2025 VLS Developers</p>
      </div>
    </div>
  </div>
</div>
<script defer src="/public/scripts/docs.js"></script>
