<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="https://vls.tech/public/images/vls-logo.png" />
    <meta property="og:url" content="{{ seo.url }}{{ page.url | url }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@VLSProject" />
    <meta name="twitter:creator" content="@VLSProject" />
    <meta name="description" content="VLS is the best way to secure your Lightning network funds. By separating your Lightning keys from your node, VLS ensures your Bitcoin is safe.">

    
    <title>{{title}}</title>

    <link rel="preload" href="/public/css/main.css" as="style">
    <link rel="preload" href="/public/scripts/theme.js" as="script">
    
    <!-- Styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/themes/prism-tomorrow.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/FAQ.css">
    <link rel="stylesheet" href="/public/css/blog.css">
    <link rel="stylesheet" href="/public/css/roadmap.css">
    <link rel="stylesheet" href="/public/css/team.css">
    <link rel="stylesheet" href="/public/css/docs.css">
    
    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" sizes="32x32 16x16" type="image/x-icon">
    <link rel="icon" href="/icon-192.png" type="image/png" sizes="192x192">
    <link rel="icon" href="/icon-512.png" type="image/png" sizes="512x512">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" href="/vls-logo-final.svg" type="image/svg+xml">
    
    <!-- Dark Mode Toggle -->
    <script defer src="/public/scripts/theme.js"></script>
    
    <!-- Plausible script -->
    <script defer data-domain="vls.tech" src="https://plausible.vls.tech/js/script.hash.outbound-links.pageview-props.tagged-events.js"></script>
    <script src="/public/scripts/scrollDepth.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>
    mermaid.initialize({
        startOnLoad: true,
        theme: 'base',
        'themeVariables': {
            'primaryColor': '#7e88fe',
            'primaryTextColor': '#fff',
            'primaryBorderColor': '#7C0000',
            'lineColor': '#F8B229',
            'secondaryColor': '#006100',
            'tertiaryColor': '#fff'
            },
        securityLevel: 'loose',
        sequence: {
            diagramMarginX: 10,
            diagramMarginY: 10,
            actorMargin: 50,
            width: 150,
            height: 65,
            boxMargin: 10,
            boxTextMargin: 5,
            noteMargin: 10,
            messageMargin: 35,
            
        }
    });
    </script>


</head>
<body class="{{ bodyClass }}">
    {% set docsVersion = page.url | getDocsVersion or currentDocsVersion %}
    {% if bodyClass == 'docs-page' %}
        <header class="header">
            <nav class="navbar navbar-expand-lg">
                <div class="container docs-header-container">
                    <a href="/" >
                        <img src="/public/images/logo.svg" class="logo theme-toggle-image" alt="">
                    </a>

                    {# Desktop Nav (>1000px) #}
                    <div class="collapse navbar-collapse" id="docsNav">
                        {% set mainSections = ['Overview', 'Get Started'] %}
                        <ul class="nav-list desktop-nav">
                            {% for section in collections.sortedDocs | filterDocSections %}
                                {% if section.data.eleventyNavigation.parent == "v" + docsVersion and section.data.eleventyNavigation.key in mainSections %}
                                    <li class="nav-item">
                                        <a href="{{ section.url }}" 
                                        class="{% if section.url == page.url %}active{% endif %}">
                                            {{ section.data.eleventyNavigation.key }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            <li class="nav-item social desktop-social">
                                <a href="https://gitlab.com/lightning-signer">
                                    <img src="/public/images/logos/gitlab-light.svg" alt="GitLab" class="nav-social invert plausible-event-name=Try+Repo">
                                </a>
                                <a href="https://github.com/lightning-signer">
                                    <img src="/public/images/logos/github-light.svg" alt="GitHub" class="nav-social invert">
                                </a>
                                <a href="https://x.com/VLSProject">
                                    <img src="/public/images/logos/x-light.svg" alt="X" class="nav-social invert">
                                </a>
                                <a href="https://matrix.to/#/#vls:matrix.org">
                                    <img src="/public/images/logos/chat.svg" alt="Matrix" class="nav-social rev-invert plausible-event-name=Try+Matrix">
                                </a>
                            </li>
                        </ul>

                        {# Mobile Menu (<1000px) #}
                        <div class="mobile-nav">
                            {# Version selector #}
                            <div class="version-selector">
                                <select class="version-select" id="mobile-version-select">
                                    {% for version in collections.docsVersions %}
                                        {% set isCurrent = version == currentDocsVersion %}
                                        <option value="{{ version }}" {% if version == docsVersion %}selected{% endif %}>
                                            v{{ version }}{% if isCurrent %} (Current){% endif %}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            {# Navigation - reuse the sidebar nav structure #}
                            <nav class="docs-mobile-nav">
                                {% if collections.sortedDocs %}
                                    {% for section in collections.sortedDocs %}
                                        {% if section.data.eleventyNavigation.parent == "v" + docsVersion %}
                                            {% set hasChildren = false %}
                                            {% set sectionChildren = [] %}
                                            
                                            {# Collect second-level items #}
                                            {% for child in collections.sortedDocs %}
                                                {% if child.url.includes("/v" + docsVersion + "/") and 
                                                    child.data.eleventyNavigation.parent == section.data.eleventyNavigation.key %}
                                                    {% set hasChildren = true %}
                                                    {% set sectionChildren = (sectionChildren.push(child), sectionChildren) %}
                                                {% endif %}
                                            {% endfor %}

                                            <div class="docs-nav-section">
                                                {% if hasChildren %}
                                                   <button class="docs-nav-heading collapsed plausible-event-name=Mobile+Section+Click plausible-event-sectionInfo={{ section.data.eleventyNavigation.key | replace(" ", "+") }}_v{{ docsVersion }}" 
                                                            type="button"
                                                            data-bs-target="#mobile-section-{{ loop.index }}"
                                                            aria-expanded="false">
                                                        {{ section.data.eleventyNavigation.key }}
                                                        <svg class="chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                                                            <polyline points="9 18 15 12 9 6"></polyline>
                                                        </svg>
                                                    </button>
                                                {% else %}
                                                    <a href="{{ section.url | versionUrl(docsVersion) }}" 
                                                    class="docs-nav-heading no-arrow {% if page.url == section.url %}active{% endif %} plausible-event-name=Mobile+Section+Click plausible-event-sectionInfo={{ section.data.eleventyNavigation.key | replace(" ", "+") }}_v{{ docsVersion }}"
                                                    data-version="{{ docsVersion }}">
                                                        {{ section.data.eleventyNavigation.key }}
                                                    </a>
                                                {% endif %}

                                                {% if hasChildren %}
                                                    <div class="collapse" id="mobile-section-{{ loop.index }}">
                                                        <div class="docs-nav-items">
                                                            {% for child in sectionChildren %}
                                                                {% set hasGrandchildren = false %}
                                                                {% set grandchildren = [] %}
                                                                
                                                                {# Check for third-level items #}
                                                                {% for grandchild in collections.sortedDocs %}
                                                                    {% if grandchild.url.includes("/v" + docsVersion + "/") and 
                                                                        grandchild.data.eleventyNavigation.parent == child.data.eleventyNavigation.key %}
                                                                        {% set hasGrandchildren = true %}
                                                                        {% set grandchildren = (grandchildren.push(grandchild), grandchildren) %}
                                                                    {% endif %}
                                                                {% endfor %}

                                                                {% if hasGrandchildren %}
                                                                    <div class="docs-nav-subgroup">
                                                                        <button class="docs-nav-subheading collapsed plausible-event-name=Mobile+Subsection+Click plausible-event-subsectionInfo={{ child.data.eleventyNavigation.key | replace(" ", "+") }}_v{{ docsVersion }} plausible-event-parentInfo={{ section.data.eleventyNavigation.key }}"
                                                                                type="button"
                                                                                data-bs-target="#mobile-subsection-{{ loop.index }}-{{ forloop.index }}"
                                                                                aria-expanded="false">
                                                                            {{ child.data.eleventyNavigation.key }}
                                                                            <svg class="chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                                                                                <polyline points="9 18 15 12 9 6"></polyline>
                                                                            </svg>
                                                                        </button>
                                                                        <div class="collapse" id="mobile-subsection-{{ loop.index }}-{{ forloop.index }}">
                                                                            <div class="docs-nav-subitems">
                                                                                {% for grandchild in grandchildren %}
                                                                                    <a href="{{ grandchild.url | versionUrl(docsVersion) }}" 
                                                                                    class="docs-nav-sublink {% if page.url == grandchild.url %}active{% endif %} plausible-event-name=Mobile+Subsection+Click plausible-event-subsectionInfo={{ child.data.eleventyNavigation.key | replace(" ", "+") }}_v{{ docsVersion }} plausible-event-parentInfo={{ section.data.eleventyNavigation.key }}"
                                                                                    data-version="{{ docsVersion }}">
                                                                                        {{ grandchild.data.eleventyNavigation.key }}
                                                                                    </a>
                                                                                {% endfor %}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                {% else %}
                                                                    <a href="{{ child.url | versionUrl(docsVersion) }}" 
                                                                    class="docs-nav-link {% if page.url == child.url %}active{% endif %} plausible-event-name=Mobile+Section+Click plausible-event-sectionInfo={{ child.data.eleventyNavigation.key | replace(" ", "+") }}_v{{ docsVersion }}"
                                                                    data-version="{{ docsVersion }}">
                                                                        {{ child.data.eleventyNavigation.key }}
                                                                    </a>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </nav>

                            {# Social Links #}
                            <div class="social">
                                <a href="https://gitlab.com/lightning-signer">
                                    <img src="/public/images/logos/gitlab-light.svg" alt="GitLab" class="nav-social invert plausible-event-name=Try+Repo">
                                </a>
                                <a href="https://github.com/lightning-signer">
                                    <img src="/public/images/logos/github-light.svg" alt="GitHub" class="nav-social invert">
                                </a>
                                <a href="https://x.com/VLSProject">
                                    <img src="/public/images/logos/x-light.svg" alt="X" class="nav-social invert">
                                </a>
                                <a href="https://matrix.to/#/#vls:matrix.org">
                                    <img src="/public/images/logos/chat.svg" alt="Matrix" class="nav-social rev-invert plausible-event-name=Try+Matrix">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="nav-controls">
                        <button class="theme-toggle mobile-toggle" aria-label="Toggle theme">
                            <svg class="sun-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                                <circle cx="12" cy="12" r="5"/>
                                <path d="M12 1v2M12 21v2M4.22 4.22l1.42 1.42M18.36 18.36l1.42 1.42M1 12h2M21 12h2M4.22 19.78l1.42-1.42M18.36 5.64l1.42-1.42"/>
                            </svg>
                            <svg class="moon-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                                <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"/>
                            </svg>
                        </button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#docsNav">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>

                    <button class="theme-toggle desktop-toggle" aria-label="Toggle theme">
                        <svg class="sun-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                            <circle cx="12" cy="12" r="5"/>
                            <path d="M12 1v2M12 21v2M4.22 4.22l1.42 1.42M18.36 18.36l1.42 1.42M1 12h2M21 12h2M4.22 19.78l1.42-1.42M18.36 5.64l1.42-1.42"/>
                        </svg>
                        <svg class="moon-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                            <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"/>
                        </svg>
                    </button>
                </div>
            </nav>
        </header>
    {% else %}
        <header class="header">
            <nav class="navbar navbar-expand-lg ">
                <div class="container">
                    <a href="/" >
                        <img src="/public/images/logo.svg" class="logo theme-toggle-image" alt="">
                    </a>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="nav-list">
                            <li class="nav-item"><a href="/docs">Docs</a></li>
                            <li class="nav-item"><a href="/roadmap">Roadmap</a></li>
                            <li class="nav-item"><a href="/FAQ">FAQ</a></li>
                            <li class="nav-item"><a href="/blog">Blog</a></li>
                            <div class="social">
                                <li class="nav-item">
                                    <a href="https://gitlab.com/lightning-signer">
                                        <img src="/public/images/logos/gitlab-light.svg" alt="GitLab" class="nav-social invert plausible-event-name=Try+Repo">
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://github.com/lightning-signer">
                                        <img src="/public/images/logos/github-light.svg" alt="GitHub" class="nav-social invert">
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://x.com/VLSProject">
                                        <img src="/public/images/logos/x-light.svg" alt="X" class="nav-social invert">
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://matrix.to/#/#vls:matrix.org">
                                        <img src="/public/images/logos/chat.svg" alt="Matrix" class="nav-social rev-invert plausible-event-name=Try+Matrix">
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </div>

                    <button class="theme-toggle desktop-toggle" aria-label="Toggle theme">
                        <svg class="sun-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                            <circle cx="12" cy="12" r="5"/>
                            <path d="M12 1v2M12 21v2M4.22 4.22l1.42 1.42M18.36 18.36l1.42 1.42M1 12h2M21 12h2M4.22 19.78l1.42-1.42M18.36 5.64l1.42-1.42"/>
                        </svg>
                        <svg class="moon-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                            <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"/>
                        </svg>
                    </button>

                    <div class="nav-controls">
                        <button class="theme-toggle mobile-toggle" aria-label="Toggle theme">
                            <svg class="sun-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                                <circle cx="12" cy="12" r="5"/>
                                <path d="M12 1v2M12 21v2M4.22 4.22l1.42 1.42M18.36 18.36l1.42 1.42M1 12h2M21 12h2M4.22 19.78l1.42-1.42M18.36 5.64l1.42-1.42"/>
                            </svg>
                            <svg class="moon-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                                <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"/>
                            </svg>
                        </button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </div>
            </nav>
        </header>
    {% endif %}

    <main>
        {{ content | safe }}
    </main>

    {% if bodyClass != 'docs-page' %}
    <footer class="footer">
        <div class="container">
            <div class="footer-grid">
                <div class="column">
                    <h3>Build</h3>
                    <ul>
                        <li><a href="/docs" class="plausible-event-name=Footer+Docs">Docs</a></li>
                        <li><a href="https://gitlab.com/lightning-signer/validating-lightning-signer/-/blob/main/docs/policy-controls.md" class="plausible-event-name=Footer+Policy+Controls">Policy Controls</a></li>
                        <li><a href="https://gitlab.com/lightning-signer/validating-lightning-signer" class="plausible-event-name=Footer+Repo">GitLab Repo</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h3>Resources</h3>
                    <ul>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/FAQ">FAQ</a></li>
                        <li><a href="https://medium.com/@devrandom/securing-lightning-nodes-39410747734b">Securing LN Nodes</a></li>
                        <li><a href="https://gitlab.com/lightning-signer/validating-lightning-signer/-/blob/main/SECURITY.md" class="plausible-event-name=Footer+Vulnterability">Report Vulnerability</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h3>Community</h3>
                    <ul>
                        <li><a href="https://X.com/VLSProject">Twitter/X</a></li>
                        <li><a href="https://matrix.to/#/#vls:matrix.org" class="plausible-event-name=Footer+Matrix">Matrix</a></li>
                        <li><a href="/team">Team</a></li>
                        <li><a href="/support" class="plausible-event-name=Support+VLS">Support VLS</a></li>
                    </ul>
                </div>
            </div>
            <p class="copyright">&copy; 2025 VLS Developers</p>
        </div>
    </footer>
    {% endif %}

</body>
</html>
