---
layout: layouts/main.njk
---

<div class="container">
 <article class="post">
   <h2>{{title}}</h2>

  <p class="post-meta">
    By {{ author }} on {{ date | htmlDateString }} • 
    Tags: 
    {% for tag in tags %}
      {% if tag != "posts" %}
        <a href="/blog/#{{ tag | slug }}" class="plausible-event-name=Blog+Tag plausible-event-blogTag={{ tag }}">{{ tag }}</a>
      {% endif %}
    {% endfor %}
  </p>

   <div class="post-content">
     {{ content | safe }}
   </div>
 </article>
</div>
