/* Blog Layout */
.blog-container {
    padding: clamp(2rem, 5vw, 4rem) 0;
}
  
  /* Blog Posts */
.post-list {
    list-style: none;
    padding: 0;

}
.post-list h2, .post-list li {
    margin: 0;
    padding: 0;
}
.post-item {
    padding: 1rem 0;
    border-bottom: 1px dashed var(--text-primary);
}

.post-link {
    color: var(--text-primary);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
}

.post-link:hover {
    color: var(--accent);
}

.post-meta {
    color: var(--text-secondary);
    font-size: 0.875rem;
    margin: 0.5rem 0;
}

/* Tags */
.tag-list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 2rem 0;
}
.tag-list li {
    font-size: clamp(0.75rem, 3vw, 1rem);
    margin-bottom: clamp(0.25rem, 1.5vw, 0.5rem);
}

.tag {
    color: var(--text-primary);
    text-decoration: none;
    padding: 0.35rem 0.85rem;
    border-radius: 1rem;
    transition: color 0.2s;
    background-color: var(--accent);
}

.tag:hover,
.tag.active {
    color: var(--bg-primary);
}

.tag-count {
    opacity: 0.7;
    font-size: 0.875rem;
}

/* Newsletter */
.newsletter-btn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 10;
}

.newsletter-form {
    position: fixed;
    bottom: 5rem;
    right: 2rem;
    width: 400px;
    max-width: calc(100vw - 4rem);
    background: var(--bg-primary);
    border: 1px solid var(--text-secondary);
    border-radius: 0.5rem;
    z-index: 9;
}

.post {
    max-width: 800px;
    margin: 0 auto;
    padding: clamp(2rem, 5vw, 4rem) 0;
}

.post h2 {
  margin-bottom: 0;
}

.post-content {
    margin-top: clamp(3rem, 5vw, 5rem);
}
