/* ==========================================================================
   Layout Structure
   ========================================================================== */

.docs-layout {
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr var(--toc-width);
    grid-template-rows: 1fr auto;
    width: 100%;
    margin: 0 auto;
    min-height: calc(100vh - var(--header-height));
}

/* ==========================================================================
   Docs Page Header / Footer
   ========================================================================== */
.docs-header-container {
    max-width: 100% !important;
    width: 100% !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

/* Special footer handling for docs pages */
.docs-footer {
    grid-column: 2;
    width: 100%;
}
.docs-container {
    padding: 0 var(--spacing-lg);
}

/* Desktop nav styles  */
.desktop-nav {
    display: flex;
}

.mobile-nav {
    display: none;
}

/* ==========================================================================
   Left Sidebar
   ========================================================================== */

.docs-sidebar {
    position: sticky;
    top: var(--header-height);
    height: calc(100vh - var(--header-height));
    padding: var(--spacing-sm);
    background-color: var(--bg-secondary);
    overflow-y: auto;
    border-right: 1px solid var(--border-color);

}

/* Firefox */
@supports (scrollbar-color: auto) {
    .docs-sidebar {
        scrollbar-width: thin;
        scrollbar-color: rgba(155, 155, 155, 0.5) color-mix(in srgb, var(--bg-secondary) 80%, white);
    }
}

/* Webkit (Chrome, Safari, Edge) */
.docs-sidebar::-webkit-scrollbar {
    width: 6px;
}

.docs-sidebar::-webkit-scrollbar-track {
    background: color-mix(in srgb, var(--bg-secondary) 80%, white);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.docs-sidebar::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 3px;
}

.docs-sidebar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(155, 155, 155, 0.7);
}

/* Version Selector */
.version-select {
    width: 100%;
    padding: var(--spacing-xs) var(--spacing-sm);
    background-color: var(--bg-primary);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    color: var(--text-primary);
    cursor: pointer;
    font-size: var(--font-size-base);
    appearance: none;
    margin-bottom: var(--spacing-sm);
}

.version-select:hover {
    border-color: var(--accent);
}

.version-select:focus {
    outline: none;
    border-color: var(--accent);
    box-shadow: 0 0 0 2px rgba(126, 136, 254, 0.2);
}

/* For dark mode compatibility */
.version-select option {
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

/* Navigation */

.chevron {
    width: 16px;
    height: 16px;
    transition: transform 0.2s;
    opacity: 0.7;
    position: absolute;
    right: var(--spacing-sm);
}

.docs-nav-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: var(--spacing-xs) 0;
    background: none;
    border: none;
    color: var(--text-primary);
    font-size: var(--font-size-sm);
    cursor: pointer;
    text-align: left;
    border-radius: 4px;
}

.docs-nav-heading:hover {
    color: var(--accent);
}

.docs-nav-subheading > .chevron {
    transform: rotate(0deg);
}

.docs-nav-items {
    padding-left: var(--spacing-xs);
    border-left: 0.5px solid var(--border-color);
}

.docs-nav-link {
    display: block;
    padding: var(--spacing-xxs);
    color: var(--text-secondary);
    text-decoration: none;
    font-size: var(--font-size-xs);
    border-radius: 4px;
}

.docs-nav-link:hover,
.docs-nav-link.active,
.docs-nav-sublink:hover,
.docs-nav-sublink.active {
    color: var(--accent);
}

/* Styles for third level */
.docs-nav-subgroup {
    margin: var(--spacing-xxs) 0;
}

.docs-nav-subheading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: var(--spacing-xxs);
    background: none;
    border: none;
    color: var(--text-secondary);
    font-size: var(--font-size-xs);
    cursor: pointer;
    text-align: left;
    border-radius: 4px;
}

.docs-nav-subheading:hover {
    color: var(--accent);
}

.docs-nav-subheading > .chevron {
    transform: rotate(0deg);
}

.docs-nav-heading[aria-expanded="true"] > .chevron {
    transform: rotate(90deg);
}

.docs-nav-subheading[aria-expanded="true"] > .chevron {
    transform: rotate(90deg);
}

.docs-nav-subitems {
    margin-left: var(--spacing-xxs);
    padding-left: var(--spacing-xxs);
    border-left: 0.5px solid var(--border-color);
}

.docs-nav-sublink {
    display: block;
    padding: var(--spacing-xxs) var(--spacing-xs);
    color: var(--text-secondary);
    text-decoration: none;
    font-size: var(--font-size-xs);
    border-radius: 4px;
}

/* ==========================================================================
   Main Content
   ========================================================================== */

.docs-content {
    padding: var(--spacing-md) var(--spacing-lg);
    min-width: 0; /* Prevents content from breaking grid */
    color: var(--text-secondary);
}
.docs-content h1 {
    color: var(--accent);
}
.docs-content h2, .docs-content h3 {
    color: var(--text-primary);
    padding-top: clamp(1rem, 3.5vw, 3rem);
    border-top: 1px solid var(--text-secondary);
}

/*  Code Block Styling */
.code-block-wrapper {
    position: relative;
    margin: 1.5rem 0;
}

.code-block-wrapper pre {
    background-color: #2d2d2d;
    color: #ccc;
    padding: 1rem;
    border-radius: 5px;
    overflow-x: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9rem;
    line-height: 1.4;
}

.copy-button {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 22px;        
    height: 22px;     
    border: none;
    background: transparent url("/public/images/copy-icon.svg") no-repeat center center;
    background-size: contain;  
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.2s;
}

.copy-button:hover {
    opacity: 1;
}

.token {
    font-size: inherit;
}
  
code[class*=language-] {
  padding: 0 !important;
}

.copied-popup {
    position: absolute;        
    top: 6px;
    right: 50px;             
    background-color: var(--accent); 
    color: #fff;
    padding: 0.2rem 0.6rem;
    border-radius: 4px;
    font-size: 0.85rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}
  
/* Mermaid diagram styling */
.mermaid {
    background-color: #222;
    padding: 1rem;
    border-radius: 4px;
    margin: 1.5rem 0;
    overflow-x: auto;
}

.mermaid svg {
    max-width: 100%;
    height: auto;
}

/* ==========================================================================
   Table of Contents
   ========================================================================== */

.docs-toc {
    position: sticky;
    height: calc(100vh - var(--header-height));
    padding: var(--spacing-sm);
    background-color: var(--bg-secondary);
    top: var(--header-height);
    border-radius: 4px;
}

.toc-title {
    font-weight: 500;
    margin-bottom: var(--spacing-sm);
}

.toc-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.toc-item {
    margin-bottom: var(--spacing-xxs);
}

.toc-item.level-3 {
    padding-left: var(--spacing-sm);
}

.toc-link {
    color: var(--text-secondary);
    text-decoration: none;
    display: block;
    padding: 0 0 var(--spacing-xxs) var(--spacing-xs);
    transition: color 0.2s;
    font-size: var(--font-size-toc);
}

.toc-link:hover {
    color: var(--text-primary);
}

.toc-link.active {
    color: var(--accent);
    font-weight: 500;
}

/* Feedback Section */
.docs-feedback {
    margin-top: var(--spacing-md);
}

.feedback-question {
    margin-bottom: var(--spacing-xxs);
    font-weight: 500;
}

.feedback-buttons {
    display: flex;
    gap: var(--spacing-xs);
}

.feedback-button {
    padding: clamp(0.25rem, 2vw, 0.5rem);
    background: transparent;
    border: none;
    border-radius: clamp(3px, 1vw, 5px);
    cursor: pointer;
    color: var(--text-primary);
}
.feedback-button svg {
    width: clamp(16px, 4vw, 22px);
    height: clamp(16px, 4vw, 22px);
}

.feedback-button:hover {
    color: var(--accent);
}
/* ==========================================================================
   Mobile Table of Contents
   ========================================================================== */
.mobile-toc-header {
    display: none;
    position: fixed;
    top: var(--header-height);
    width: calc(100vw - var(--sidebar-width) - 15px);
    right: 0;
    background: var(--bg-secondary);
    border-bottom: 1px solid var(--border-color);
    padding: var(--spacing-xxs) var(--spacing-lg);
    z-index: 100;
}

.mobile-toc-dropdown {
    position: relative;
    display: inline-block;
}

.mobile-toc-button {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    background: none;
    border: none;
    color: var(--text-primary);
    font-size: var(--font-size-sm);
    cursor: pointer;
    padding: var(--spacing-xs) var(--spacing-sm);
    border-radius: 4px;
}

.mobile-toc-button:hover {
    background: var(--bg-primary);
}

.mobile-toc-button .chevron {
    width: 16px;
    height: 16px;
    transition: transform 200ms ease;
}

.mobile-toc-dropdown.active .chevron {
    transform: rotate(180deg);
}

.mobile-toc-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--bg-primary);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: var(--spacing-sm);
    min-width: 200px;
    max-height: 400px;
    overflow-y: auto;
    margin-top: var(--spacing-xs);
}

.mobile-toc-dropdown.active .mobile-toc-content {
    display: block;
}

.mobile-feedback {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}
.mobile-feedback .feedback-question {
    font-size: var(--font-size-sm);
}

.mobile-toc-header {
    display: none;
    justify-content: space-between;
    align-items: center;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media (max-width: 1200px) {
    .docs-toc {
        display: none;
    }
    
    .mobile-toc-header {
        display: flex;
        margin-left: var(--sidebar-width); /* Align with content area */
    }

    /* Move TOC to the top of the content area */
    .docs-content {
        grid-column: 2 / -1;
        margin-top: 0;
        padding-top: calc(44px + var(--spacing-md));
    }
    
    /* Hide the original feedback section */
    .docs-feedback {
        display: none;
    }
    
    /* Adjust spacing for mobile layout */
    .mobile-feedback .feedback-question {
        margin: 0;
    }
    
    .mobile-feedback .feedback-buttons {
        display: flex;
        gap: var(--spacing-xs);
    }
}

/* Hide burger menu on desktop */
@media (min-width: 992px) {
    .navbar-toggler {
        display: none;
    }
}

@media (max-width: 991px) {
    .docs-layout {
        grid-template-columns: auto;
    }

    .docs-sidebar {
        display: none;
    }

    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
        background: var(--bg-secondary);
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        bottom: 0;
        padding: var(--spacing-md);
        overflow-y: auto;
    }

    .mobile-nav .version-selector {
        margin-bottom: var(--spacing-md);
        border-bottom: 1px solid var(--border-color);
    }

    .docs-mobile-nav {
        margin-bottom: var(--spacing-lg);
    }
    .social {
        padding: 0 var(--spacing-sm);
    }
    .mobile-toc-header {
        display: flex;
        width: 100%;
        margin: 0; /* Align with content area */
    }
}

@media (max-width: 768px) {
    .docs-layout {
        grid-template-columns: 1fr;
    }

    .docs-sidebar {
        display: none;
    }

    .docs-content {
        padding: var(--spacing-sm);
        margin-top: auto;
        /* Calculate margin based on mobile TOC header height */
        --mobile-toc-height: calc(44px + var(--spacing-md));
        margin-top: var(--mobile-toc-height);
        padding-top: var(--spacing-sm);
    }
    /* Ensure first heading has enough space */
    .docs-content > h1:first-child {
        padding-top: var(--spacing-md);
    }
    .mobile-feedback .feedback-buttons {
        gap: 0;
    }
    .mobile-toc-button {
        padding: var(--spacing-xs) var(--spacing-xs);
    }
}
