/* FAQ Accordion */
.accordion {
  margin-top: 2rem;
  --bs-accordion-border-color: var(--bg-primary);
}

.accordion-item {
  border: none;
  margin-bottom: 1rem;
}

.accordion-button {
  display: flex;  
  align-items: center;
  justify-content: space-between;
  color: var(--text-primary) !important;
  border: none;
  padding: 1rem 0;
  font-weight: 500;
  width: 100%;
  text-align: left;
  font-size: clamp(1rem, 3vw, 1.25rem);
}

.accordion-button:not(.collapsed) {
    color: var(--accent) !important;
}

.accordion-body {
  padding: 1rem 0;
  color: var(--text-secondary) !important;
}

/* Arrow styling */
.accordion-button::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block; 
  width: 1em;           
  text-align: center;  
  transition: transform 0.3s ease;
  color: var(--text-primary);
  transform-origin: center center;
  background-image: none;
}

.accordion-button:not(.collapsed)::after {
  transform: rotate(180deg);
  color: var(--accent) !important;
  background-image: none;
}

/* Links and emphasis */
.accordion-body a,
.accordion-body strong,
.accordion-body b {
  color: var(--accent) !important;
  font-weight: bold;
}
