* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --text-primary: #111;
    --text-secondary: #555;
    --bg-primary: #fff;
    --bg-secondary: #f5f5f5;
    --accent: #7e88fe;
    --border-color: #555;

    --max-width: 1500px;
    --min-width: 400px;
    --header-height: calc(clamp(27.6px, 5.4vw, 48.6px) + 2 * clamp(0.375rem, 1.5vw, 0.5rem));
    --footer-height: 300px;
    --sidebar-width: clamp(250px, 25vw, 300px);
    --content-max-width: 1200px;
    --toc-width: clamp(250px, 25vw, 300px);

    /* Spacing values */
    --spacing-xxs: clamp(0.25rem, 1vw, 0.375rem);
    --spacing-xs: clamp(0.5rem, 1vw, 0.75rem);
    --spacing-sm: clamp(1rem, 2vw, 1.5rem);
    --spacing-md: clamp(1.5rem, 3vw, 2rem);
    --spacing-lg: clamp(1rem, 4vw, 3rem);

     /* Font sizes */
     --font-size-xs: clamp(0.75rem, 1.875vw, 1.05rem);    /* Smallest text */
     --font-size-sm: clamp(0.875rem, 2vw, 1.125rem);      /* Small text, nav items */
     --font-size-base: clamp(1rem, 2vw, 1.125rem);        /* Base text, paragraphs */
     --font-size-md: clamp(1.125rem, 3vw, 1.875rem);      /* Medium headers */
     --font-size-lg: clamp(1.5rem, 3.75vw, 2.625rem);     /* Large headers */
     --font-size-xl: clamp(2rem, 4.5vw, 3.5rem);          /* Extra large headers */
     
     /* Special cases */
     --font-size-footer: clamp(1rem, 3vw, 1.25rem);       /* Footer text */
     --font-size-toc: 0.875rem;                           /* Table of contents */
     --font-size-nav: clamp(0.875rem, 2vw, 1.125rem);     /* Navigation items */

    /* Scrollbar */
    --scrollbar-width: 6px;
    --scrollbar-border-radius: 3px;

    --toggler-color: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --bs-accordion-btn-color: var(--text-primary);
    --bs-accordion-active-color: var(--accent);
    --bs-accordion-color: var(--text-secondary);
}

[data-theme="dark"] {
    --text-primary: #fff;
    --text-secondary: #aaa;
    --bg-primary: #111;
    --bg-secondary: #222;
    --border-color: #aaa;
    --toggler-color: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

[data-theme="light"] .invert {
    filter: invert(1);
}
[data-theme="dark"] .rev-invert {
    filter: invert(1);
}


/* Base styles */
body {
    font-family: system-ui, -apple-system, sans-serif;
    line-height: 1.5;
    color: var(--text-primary);
    background: var(--bg-primary);

}

.container {
    width: min(calc(100% - 2rem), var(--max-width));
    margin: 0 auto;
    padding: 0 1rem;
}
main {
    margin-top: calc(var(--header-height));
}

/* Typography */
h1 {
    font-size: var(--font-size-lg);
    margin-bottom: clamp(0.75rem, 3vw, 1.5rem);
}
h2 {
    font-size: var(--font-size-md);
    margin-bottom: clamp(0.9375rem, 2.25vw, 1.5rem);
}
h3 {
    font-size: var(--font-size-md);
    margin-bottom: clamp(0.75rem, 1.875vw, 1.5rem);
}
h4 {
    font-size: var(--font-size-xs);
    margin-bottom: clamp(0.5625rem, 1.5vw, 1.125rem);
}
p, span {
    font-size: var(--font-size-base);
    margin-bottom: clamp(1rem, 2.5vw, 1.5rem);
}
.nav-item {
    font-size: var(--font-size-nav);
    margin-bottom: 0.5rem;
}
li {
    font-size: var(--font-size-base);
    margin-bottom: clamp(0.5rem, 1.5vw, 1rem);
}
.footer li {
    font-size: var(--font-size-footer);
    margin-bottom: clamp(0.5rem, 1.5vw, 1rem);
}
a {
    color: var(--accent);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.footer a:hover,
.nav-list a:hover {
    color: var(--accent);
}

/* Layout */
.section {
    padding: clamp(1.5rem, 8vw, 4rem) 0;
}

.dark-section {
    background: var(--bg-secondary);
}

/* Components */
.btn {
    display: inline-block;
    padding: 0.5rem 1.25rem;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-primary {
    background: var(--accent);
    color: white;
    border: 2px solid var(--accent);
}

.btn-primary:hover {
    background: transparent;
    color: var(--accent);
    border: 2px solid var(--accent);
}

/* Navbar */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bg-primary);
    z-index: 1000;
    padding: clamp(0.375rem, 1.5vw, 0.5rem) 0;
    border-bottom: .5px dashed var(--text-primary);
}

.navbar {
    background: var(--bg-primary);
    padding: 0;
}

.logo {
    width: clamp(120px, 24vw, 210.6px);
    height: clamp(27.6px, 5.4vw, 48.6px);
    display: inline-block;
}
.social {
    display: flex;
    gap: .875rem;
}
.nav-social {
    height: 1rem;
    width: 1rem;
}
.nav-social:hover {
    opacity: 0.6;
}
.navbar-toggler {
    border: none;
}
 
.navbar-toggler:focus {
    box-shadow: none; 
 }
.navbar-toggler-icon {
    background-image: var(--toggler-color) !important;
    margin: 0;
}
.navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--bg-primary);
}

.nav-list {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
}

.nav-list a {
    color: var(--text-primary);
    text-decoration: none;
}
.nav-controls {
    display: none;
    position: relative;
    z-index: 1001;
}
.desktop-toggle {
    margin-left: 2rem;
}
.mobile-toggle {
    display: none;
}
.navbar svg {
    margin-bottom: .25rem;
}

/* Dark Mode Toggle */
.theme-toggle {
    height: 18px;
    width: 18px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text-primary);
    display: flex;
    align-items: center;
}
  
.theme-toggle .sun-icon,
.theme-toggle .moon-icon {
    display: none;
}
  
[data-theme="light"] .sun-icon,
[data-theme="dark"] .moon-icon {
    display: block;
}
.theme-toggle:hover {
    opacity: 0.6;
}

/* Hero */
.hero-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(0.5rem, 5vw, 2.5rem);
    align-items: center;
    padding-top: clamp(2rem, 5vh, 4rem);
    margin: clamp(3rem, 10vh, 15vh) 0 clamp(2rem, 5vh, 8vh) 0;
}
.hero-content h1 {
    margin-bottom: 1rem;
}
.hero-svg {
    width: clamp(250px, 40vw, 400px);
    height: auto;
    margin: 0 auto;
}

/* Trusted By */
.trusted-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: clamp(1rem, 4vw, 2rem);
}
 
 .trusted-grid a {
    flex: 1 1 clamp(150px, 30vw, 200px);
    display: flex;
    justify-content: center;
}
  
.trusted-grid img {
    width: clamp(50px, 15vw, 90px);
    height: auto;
    object-fit: contain;
}

.trusted-grid img.wide-logo {
    width: auto;
    height: clamp(30px, 10vw, 60px);
}

/* Features */
.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: clamp(4rem, 1.5vw, 5rem);
}
.features-grid p {
    margin: 0;
}

.feature-card {
    text-align: center;
    padding: 0 clamp(.5rem, 2vw, 2rem);
}

.feature-icon {
    height: clamp(2rem, 12vw, 4rem);
    width: auto;
    margin-bottom: 1rem;
}

/* Enterprise section */
.enterprise-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
    gap: clamp(2rem, 5vw, 4rem);
}
.enterprise-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.enterprise-content h2,
.enterprise-content ul {
    align-self: flex-start;
    width: 100%;
}
.split-image {
    width: clamp(250px, 40vw, 400px);
    height: auto;
    margin: 0 auto;
}

/* Contributors */
.contributors-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: clamp(1.5rem, 2vw, 4rem);
}
.contributor-card {
    text-align: center;
}
.contributor-image {
    width: clamp(70px, 8vw, 100px);
    height: clamp(70px, 8vw, 100px);
    border-radius: 50%;
    margin: 0 auto 1rem;
    transition: all 0.5s ease 0s;
}
.contributor-image:hover {
    transform: scale(1.15);
}
/* Footer */
.footer {
    background: var(--bg-primary);
    padding: clamp(2rem, 5vw, 4rem) 0 0 0;
    margin-top: auto;
}

.footer-grid {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.column {
    margin-right: 2%;
}
  
.footer h3 {
    margin-bottom: 1rem;
}
  
.footer ul {
    list-style: none;
    padding: 0;
}
  
.footer li {
    margin-bottom: 0.5rem;
}

.footer a {
    color: var(--text-secondary);
    text-decoration: none;
}
  
.copyright {
    margin-top: 3%;
    text-align: center;
}

/* Intro Page */
.content-section {
    margin-bottom: clamp(2rem, 5vw, 4rem);
}

code {
    background: var(--bg-secondary);
    padding: 0.2rem 0.4rem;
    border-radius: 0.25rem;
    font-size: 0.9em;
}

.intro-diagram {
    width: 100%;
    max-width: 800px;
    margin: 2rem auto;
    display: block;
}

/* Support Page */
.supporters-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    margin: 2rem 0;
}

.supporter {
    width: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.supporter-logo {
    height: 80px;
    width: auto;
    max-width: 100%;
    margin-bottom: 0.5rem;
    transition: transform 0.4s ease-in;
}
  
  .supporter img:hover {
    transform: scale(1.2);
}

.supporter p {
    font-size: 1.2rem;
    margin: 0;
}

@media (min-width: 992px) {
    .navbar-collapse {
        position: static;
    }
 
    .nav-list {
        flex-direction: row;
        margin-left: auto;
    }
}

@media (max-width: 991px) {
    .nav-controls {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    .desktop-toggle {
        display: none !important;
    }

    .mobile-toggle {
        display: block;
    }
    .nav-list {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar svg {
        margin-bottom: 0;
    }
    .nav-social {
        margin-bottom: 1rem;
    }
}

@media (max-width: 768px) {
    .hero-content {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .button-group {
        justify-content: center;
    }
    .hero-svg {
        display: none;
    }
    .social {
        padding: 0 !important;
    }
}
