.timeline {
    position: relative;
    max-width: 1000px;
    margin: 2rem auto;
    padding: 2rem 0;
  }
  
  .timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background: var(--text-secondary);
  }
  
  .timeline-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 4rem;
  }
  
  .timeline-item:nth-child(even) {
    direction: rtl;
  }
  
  .timeline-item:nth-child(even) .timeline-content {
    direction: ltr;
  }
  
  .timeline-date {
    text-align: right;
    padding-right: 2rem;
    position: relative;
  }
  
  .timeline-item:nth-child(even) .timeline-date {
    text-align: left;
    padding-right: 0;
    padding-left: 2rem;
  }
  
  .timeline-date::after {
    content: '';
    position: absolute;
    right: 0px;
    top: 15px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid var(--accent);
    background: none;
    border-radius: 0;
   }
   
   .timeline-item:nth-child(even) .timeline-date::after {
    right: auto;
    left: 0px;
    border-left: none;
    border-right: 15px solid var(--accent);
   }
  
  .date {
    font-size: 1rem;
    color: var(--text-secondary);
  }
  
  .timeline-content {
    padding: 1rem;
    background: var(--bg-secondary);
    border-radius: .75rem;
  }
  
  @media (max-width: 768px) {
    .timeline::before {
      left: 0;
    }
  
    .timeline-item {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
  
    .timeline-date {
      text-align: left;
      padding-left: 2rem;
    }
  
    .timeline-item:nth-child(even) {
      direction: ltr;
    }
  
    .timeline-date::after {
      left: -10px;
      right: auto;
    }
  }
