.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 2rem 0;
  }
  
  .team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    background: var(--bg-secondary);
    border-radius: 0.5rem;
  }
  
  .member-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  
  .member-info h3 {
    margin-bottom: 0.5rem;
  }
  
  .member-role {
    color: var(--accent);
    margin-bottom: 1rem;
  }
  
  .pgp-label {
    font-family: monospace;
    color: var(--text-secondary);
    margin-bottom: 0.5rem;
  }
  
  .pgp-key {
    font-family: monospace;
    font-size: 0.9em;
    color: var(--text-secondary);
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  
  .member-social {
    margin-top: auto;
  }
  
  .social-icon {
    width: 24px;
    height: 24px;
    transition: transform 0.2s;
  }
  
  .social-icon:hover {
    transform: scale(1.2);
  }
