---
layout: layouts/main.njk
title: Frequently Asked Questions
---
<section class="section">
  <div class="container">
    <h1>{{ title }}</h1>

    <div class="accordion bg-transparent" id="faqAccordion">
      {% set faqContent = collections.faqData[0].data %}
      
      {% if faqContent.faqs %}
        {% for faq in faqContent.faqs %}
          <div class="accordion-item bg-transparent">
            <h2 class="accordion-header bg-transparent" id="heading{{ loop.index }}">
              <button class="accordion-button bg-transparent collapsed plausible-event-name=FAQ plausible-event-faqItem={{ faq.questionID }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}">
                {{ faq.question }}
              </button>
            </h2>
             <div id="collapse{{ loop.index }}" class="accordion-collapse collapse bg-transparent" aria-labelledby="heading{{ loop.index }}" data-bs-parent="#faqAccordion">
              <div class="accordion-body bg-transparent">
                {{ faq.answer | markdown | safe }}
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>No FAQ content found.</p>
      {% endif %}
    </div>
  </div>
</section>
