---
layout: layouts/main.njk
title: Home
---
{# src/index.njk #}


<section class="hero-area">
    <div class="container">
        <div class="hero-content">
            <div>
                <h1>Protect your Bitcoin</h1>
                <p>VLS improves Lightning node security by protecting keys separately.</p>
                <a href="/docs" class="btn btn-primary plausible-event-name=Try+VLS">Get Started</a>
            </div>    
            <img src="/public/images/hero.svg" alt="Lightning nodes and external signer diagram" class="hero-svg theme-toggle-image">
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h2>Trusted By</h2>
        <div class="trusted-grid">
            <a href="https://blockstream.com/lightning/greenlight/">
                <img src="/public/images/logos/greenlight-logo.svg" alt="Greenlight" class="wide-logo theme-toggle-image">
            </a>
            <a href="https://breez.technology/">
                <img src="/public/images/logos/breez-logo.svg" alt="Breez" class="invert">
            </a>
            <a href="https://relai.app/">
                <img src="/public/images/logos/relai-logo.svg" alt="Relai" class="invert">
            </a>
            <a href="https://lipa.swiss/">
                <img src="/public/images/logos/lipa-logo.svg" alt="Lipa" class="invert">
            </a>
        </div>
    </div>
</section>

<section class="section dark-section">
    <div class="container">
        <div class="features-grid">
            <div class="feature-card">
                <img src="/public/images/secure.svg" class="feature-icon" alt="secure">
                <h3>Secure</h3>
                <p>High security through small attack surface. <a href="https://gitlab.com/lightning-signer/validating-lightning-signer/-/blob/main/docs/policy-controls.md" class="plausible-event-name=Features+Policy+Controls">Refined policy controls</a>.</p>
            </div>
            <div class="feature-card">
                <img src="/public/images/flexible-development.svg" class="feature-icon" alt="flexible-development">
                <h3>Flexible Deployment</h3>
                <p>Rust enables deployment on microcontroller, HSM, server, browser and mobile.</p>
            </div>
            <div class="feature-card">
                <img src="/public/images/custody.svg" class="feature-icon" alt="custody">
                <h3>Custody</h3>
                <p>Control custody at the signer, instead of at the node. Separation of duties.</p>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="enterprise-section">
            <div class="enterprise-content">
                <h2>Enterprise</h2>
                <ul>
                    <li>Separate duties.</li>
                    <li>Technical operations control the node while finance executives control funds and custody on the signer with policy controls.</li>
                    <li>Secure the signer on hardened servers or HSM.</li>
                </ul>
                <img src="/public/images/enterprise.svg" class="split-image theme-toggle-image" alt="Enterprise diagram">
            </div>
            <div class="enterprise-content">
                <h2>App developer</h2>
                <ul>
                    <li>The end-user is in full control of the funds by controlling the keys on a signer they control.</li>
                    <li>The app developer does not custody user funds.</li>
                    <li>The signer can run on mobile, consumer device, or web browser.</li>
                </ul>
                <img src="/public/images/app-developer.svg" class="split-image theme-toggle-image" alt="App developer diagram">
            </div>
        </div>
    </div>
</section>
