---
layout: layouts/main.njk
title: Roadmap
---

<section class="section">
  <div class="container">
    <h2>VLS Roadmap</h2>

    <div class="timeline">
      <div class="timeline-item">
        <div class="timeline-date">
          <span class="date">March 2023</span>
          <h3>Developer Preview</h3>
        </div>
        <div class="timeline-content">
          <p>Minimize chances of accidental fund loss.</p>
          <ul>
            <li>Works with CLN socket mode and LDK</li>            
            <li>Encrypted cloud state backup</li>
            <li>A complete set of layer-2 <a href="https://gitlab.com/lightning-signer/validating-lightning-signer/-/blob/main/docs/policy-controls.md">validation rules</a></li>
            <li>Disaster recovery from signer and node failure</li>
            <li>Optional validation rules (e.g. velocity, approval)</li>
            <li>Basic policy audit (internal and independent third party)</li>
          </ul>
          <p>Limitations:</p>
          <ul>
            <li>Embedded (Rust <code>no_std</code>) signers not supported</li>            
            <li>Routing not supported</li>
            <li>On-chain state tracking not supported</li>
          </ul>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-date">
          <span class="date">June 2023</span>
          <h3><a href="/posts/vls-beta">Beta Release</a> (v0.9)</h3>
        </div>
        <div class="timeline-content">
          <p>Designed to be secure against a malicious node.</p>
          <ul>
            <li>A complete set of layer-1 validation rules (on-chain tracking)</li>            
            <li>Heartbeat and alerts</li>
            <li>Allowlist</li>
          </ul>
          <p>Limitations:</p>
          <ul>
            <li>Embedded (Rust <code>no_std</code>) signers not supported</li>            
            <li>Routing not supported</li>
          </ul>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-date">
          <span class="date">June 2023</span>
          <h3>Developer Preview: Greenlight + VLS</h3>
        </div>
        <div class="timeline-content">
          <ul>
            <li>Full VLS signer integration with Greenlight</li>
            <li>Developers building with the <code>gl-client</code> or additional layers like the Breez SDK can now easily access the VLS signer, without any need for modifications</li>
          </ul>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-date">
          <span class="date">August 2023</span>
          <h3><a href="/posts/low-resource-signers">v0.10</a> (Beta 2)</h3>
        </div>
        <div class="timeline-content">
          <ul>
            <li>Focused on supporting low resource signers</li>
            <li>Full support for a Rust <code>no_std</code> (microcontroller) mode</li>
            <li>Signer can run on modest amounts of RAM and ROM</li>
            <li>Tuning performance for embedded processors</li>
          </ul>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-date">
          <span class="date">February 2024</span>
          <h3><a href="/posts/v0.11">v0.11</a> (Beta 3)</h3>
        </div>
        <div class="timeline-content">
          <ul>
            <li><a href="/posts/tag-team">Tag team signing</a> (multi-signer) support (not multi-sig)</li>
            <li>Latency and memory usage fine tuning</li>
            <li><a href="/posts/docker">Dockerized VLS</a> + services (vlsd, cln/ldk, txood, lssd, bitcoind)</li>
          </ul>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-date">
          <span class="date">August 2024</span>
          <h3><a href="/posts/v0.12">v0.12</a></h3>
        </div>
        <div class="timeline-content">
          <ul>
            <li>LSS support in <code>vlsd2</code></li>
            <li>Various bug fixes and policy updates</li>
            <li>Logging improvements</li>
          </ul>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-date">
          <span class="date">February 2025</span>
          <h3><a href="/posts/v0.13">v0.13</a></h3>
        </div>
        <div class="timeline-content">
          <ul>
            <li>Disaster Recovery</li>
            <li>Fuzzing</li>
            <li>Stress Testing</li>
          </ul>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-date">
          <span class="date">TBD</span>
          <h3>Dual Funding</h3>
        </div>
        <div class="timeline-content">
          <ul>
            <li>Dual funding support</li>
          </ul>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-date">
          <span class="date">TBD</span>
          <h3>Splicing</h3>
        </div>
        <div class="timeline-content">
          <ul>
          </ul>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-date">
          <span class="date">TBD</span>
          <h3>VLS for Enterprise Use Cases</h3>
        </div>
        <div class="timeline-content">
          <ul>
            <li>Signer runs in hardened server</li>
            <li>Signer can handle millions of channels and payments</li>
            <li><a href="https://github.com/lightningdevkit/vss-server">VSS</a> integration</li>      
          </ul>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-date">
          <span class="date">TBD</span>
          <h3>Routing</h3>
        </div>
        <div class="timeline-content">
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-date">
          <span class="date">™Soon</span>
          <h3>Features</h3>
        </div>
        <div class="timeline-content">
          <p>To submit feature requests, <a href="https://gitlab.com/lightning-signer/validating-lightning-signer/-/issues/new?issuable_template=Feature%20Request" class="plausible-event-name=Feature+Request">click here</a>.</p>
          <ul>
            <li><a href="https://bolt12.org/">Bolt 12</a> support</li>
            <li><a href="https://github.com/lightninglabs/L402">L402</a></li>
            <li>VLS in mobile Secure Enclave (we need your help to convince Apple/Samsung 🙏)</li>            
          </ul>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-date">
          <span class="date">Soon™</span>
          <h3>Multi-sig Lightning</h3>
        </div>
        <div class="timeline-content">
          <p>Pending maturity of Lightning network implementations of Taproot, Musig2 and FROST.</p>
          <ul>
            <li>No single point of failure</li>            
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
