---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in collections.all %}
    {% if not page.data.eleventyExcludeFromCollections %}
      <url>
        <loc>https://vls.tech{{ page.url | url }}</loc>
        <lastmod>{{ page.date | htmlDateString }}</lastmod>
      </url>
    {% endif %}
  {% endfor %}
</urlset>
