---
layout: layouts/main.njk
title: Support VLS
---
<section class="section">
 <div class="container">
   <div class="text-center">
     <h2>Support the VLS Project</h2>
     <h4>VLS is an open source project that relies on your support.</h4>
     <a href="#supportForm" class="btn btn-primary plausible-event-name=Support+Form+CTA">Support VLS</a>
   </div>

   <hr>

   <div>
     <h3 class="text-center">VLS Supporters</h3>
     <div class="supporters-grid">
       <div class="supporter">
         <a href="https://spiral.xyz/" target="_blank">
           <img src="/public/images/logos/Spiral-logo.svg" class="supporter-logo" alt="Spiral">
           <p>Spiral</p>
         </a>
       </div>
       <div class="supporter">
         <a href="https://opensats.org/" target="_blank">
           <img src="/public/images/logos/Opensats-Logo.svg" class="supporter-logo theme-toggle-image" alt="OpenSats">
           <p>OpenSats</p>
         </a>
       </div>
       <div class="supporter">
         <a href="https://hrf.org/" target="_blank">
           <img src="/public/images/logos/HRF-logo.svg" class="supporter-logo theme-toggle-image" alt="HRF">
           <p>HRF</p>
         </a>
       </div>
     </div>
   </div>

   <hr>

   <div>
     <h3 class="text-center">Supporting VLS</h3>
     <p>VLS is an open-source project that aims to improve the security of the Bitcoin Lightning Network by separating private keys and security validations from nodes. This modular approach helps safeguard funds and enables more secure transactions.</p>
     <p>Developed by a dedicated team of experts, VLS focuses first on security, while also striving to stay compatible with the latest Bitcoin and Lightning innovations.</p>
     <p>Your support can help us:</p>
     <ul>
       <li>Simplify integration</li>
       <li>Enhance documentation</li>
       <li>Create turnkey solutions for businesses</li>
       <li>Add support for new features</li>
     </ul>
     <p>By supporting VLS, you're supporting the growth and security of the entire Lightning ecosystem.</p>
     <p>If you're interested in supporting us, please provide your contact information below.</p>
   </div>

   <hr>

   <div id="supportForm" class="support-form plausible-event-name=Support+Form+Click">
     <iframe src="https://cryptpad.fr/form/#/2/form/view/X5JRjmBdG7jhD7uDyA0Fsg4fYoSvhTH7kb3-Jptne6Q/embed/" 
             width="100%" height="816" frameborder="0"></iframe>
   </div>
 </div>
</section>
