---
layout: layouts/main.njk
title: Team
---

<section class="section">
 <div class="container">
   <h2>Meet the Team</h2>
   
   <div class="team-grid">
     <div class="team-member">
       <div class="member-image">
         <a href="https://X.com/devrandom01">
           <img src="/public/images/contributors/devrandom.jpeg" alt="Devrandom">
         </a>
       </div>
       <div class="member-info">
         <h3>Devrandom</h3>
         <p class="member-role">Co-Founder</p>
         <p class="pgp-label">PGP Key Fingerprint:</p>
         <p class="pgp-key">305B 52D8 117A EFD3 121F<br>306D 5E53 E69F 6C88 238B</p>
       </div>
       <div class="member-social">
         <a href="https://X.com/devrandom01">
           <img src="/public/images/Twitter-logo.svg" alt="Twitter" class="social-icon">
         </a>
       </div>
     </div>

     <div class="team-member">
       <div class="member-image">
         <a href="https://X.com/JackRonaldi">
           <img src="/public/images/contributors/jack.jpeg" alt="Jack Ronaldi">
         </a>
       </div>
       <div class="member-info">
         <h3>Jack Ronaldi</h3>
         <p class="member-role">Product Manager</p>
         <p class="pgp-label">PGP Key Fingerprint:</p>
         <p class="pgp-key">E149 9312 6103 A906 AC03<br>C5E3 57E6 12A2 A1BE A22E</p>
       </div>
       <div class="member-social">
         <a href="https://X.com/JackRonaldi">
           <img src="/public/images/Twitter-logo.svg" alt="Twitter" class="social-icon">
         </a>
       </div>
     </div>
   </div>
 </div>
</section>


<section class="section">
    <div class="container">
        <h2>Contributors</h2>
        <p>We'd like to thank the below contributors for their contributions to the project. 🙏</p>
        <div class="contributors-grid">
            <div class="contributor-card">
                <a href="https://gitlab.com/devrandom01">
                    <img src="/public/images/contributors/devrandom.jpeg" class="contributor-image" alt="Devrandom">
                </a>
                <h4>Devrandom</h4>
            </div>
            <div class="contributor-card">
                <a href="https://gitlab.com/ksedgwic">
                    <img src="/public/images/contributors/KS.jpeg" class="contributor-image" alt="Ken Sedgwick">
                </a>
                <h4>Ken Sedgwick</h4>
            </div>
            <div class="contributor-card">
                <a href="https://gitlab.com/JackRonaldi">
                    <img src="/public/images/contributors/jack.jpeg" class="contributor-image" alt="Jack Ronaldi">
                </a>
                <h4>Jack Ronaldi</h4>
            </div>
            <div class="contributor-card">
                <img src="/public/images/contributors/DC_avatar_icon.png" class="contributor-image" alt="decentclock">
                <h4>decentclock</h4>
            </div>
            <div class="contributor-card">
                <a href="https://github.com/evanfeenstra">
                    <img src="/public/images/contributors/EvanF.png" class="contributor-image" alt="Evan Feenstra">
                </a>
                <h4>Evan Feenstra</h4>
            </div>
            <div class="contributor-card">
                <a href="https://gitlab.com/Srg213">
                    <img src="/public/images/contributors/srgavatar.png" class="contributor-image" alt="srg123">
                </a>
                <h4>srg123</h4>
            </div>
            <div class="contributor-card">
                <a href="https://github.com/king-11">
                    <img src="/public/images/contributors/lakshya.jpg" class="contributor-image" alt="Lakshya Singh">
                </a>
                <h4>Lakshya Singh</h4>
            </div>
            <div class="contributor-card">
                <a href="https://github.com/vincenzopalazzo">
                    <img src="/public/images/contributors/vincenzo.png" class="contributor-image" alt="Vincenzo Palazzo">
                </a>
                <h4>Vincenzo Palazzo</h4>
            </div>
            <div class="contributor-card">
                <a href="https://bsky.app/profile/auxilit.bsky.social">
                    <img src="/public/images/contributors/Daniel.png" class="contributor-image" alt="Daniel Feichtinger">
                </a>
                <h4>Daniel Feichtinger</h4>
            </div>
        </div>
    </div>
</section>
