{# src/_includes/partials/version-content.njk #}

{% set docsVersion = page.url | getDocsVersion or currentDocsVersion %}
<div class="docs-sections">
  {% if collections.sortedDocs %}
    {% for section in collections.sortedDocs %}
      {% if section.data.eleventyNavigation.parent == "v" + docsVersion %}
        <div class="docs-section">
          <h2>{{ section.data.eleventyNavigation.key }}</h2>
          {% if section.data.description %}
            <p>{{ section.data.description }}</p>
          {% endif %}
          <ul>
            {# Loop over second-level children #}
            {% for child in collections.sortedDocs %}
              {% if child.url.includes("/v" + docsVersion + "/") and 
                    child.data.eleventyNavigation.parent == section.data.eleventyNavigation.key %}
                <li>
                  <a href="{{ child.url }}">{{ child.data.eleventyNavigation.key }}</a>
                  {# Loop over third-level children #}
                  <ul>
                    {% for subchild in collections.sortedDocs %}
                      {% if subchild.url.includes("/v" + docsVersion + "/") and 
                            subchild.data.eleventyNavigation.parent == child.data.eleventyNavigation.key %}
                        <li>
                          <a href="{{ subchild.url }}">{{ subchild.data.eleventyNavigation.key }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>

